@use "../../_themes.module.scss" as themes;

.switch {
  position: relative;
  display: inline-block;
  width: 44px;
  height: 24px;
  input {
    opacity: 0;
    width: 0;
    height: 0;
    &:checked + .slider {
      @include themes.themed() {
        background-color: themes.t("card-bg");
      }
    }
    &:checked + .slider:before {
      -webkit-transform: translateX(20px);
      -ms-transform: translateX(20px);
      transform: translateX(20px);
    }
  }
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: themes.$primary-color;
  transition: 200ms;
  &:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: 200ms;
  }
  &.round {
    border-radius: 24px;
    &:before {
      border-radius: 50%;
    }
  }
  &.dark:before {
    background-color: black;
  }
}

.icons {
  position: absolute;
  left: 3px;
  bottom: 3px;
  display: flex;
  height: 18px;
  width: 18px;
  justify-content: center;
  align-items: center;
  transition: ease transform 200ms;
  .icon {
    color: themes.$tertiary-color;
  }
}
