@use "../../_themes.module.scss" as themes;

.container {
  height: calc(100vh - 4.5rem);
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: themes.$font-family;
  transition: ease-in color 200ms;
  @include themes.themed() {
    color: themes.t("font-color");
  }
}

.card {
  height: auto;
  width: 40%;
  max-width: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: 40px;
  justify-content: space-between;
  border-radius: 20px;
  margin-top: -4.5rem;
  transition: ease-in background-color 200ms;
  @include themes.themed() {
    background-color: themes.t("card-bg");
  }
}

.titles {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 2rem;
  width: 93%;
  .title {
    font-size: 1.8rem;
    font-weight: bold;
  }
  .subtitle {
    margin-top: 0.9rem;
  }
}

.form {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  .input-title {
    margin-top: 1rem;
  }
  .input-container {
    position: relative;
    .icon {
      position: absolute;
      height: 100%;
      width: 20px;
      padding: 0px 5px 0px 5px;
    }
    .email {
      height: 34px;
      width: 100%;
      padding-left: 30px;
      box-sizing: border-box;
      border: 1.5px solid black;
      border-radius: 5px;
      &:focus {
        outline: none;
        border: 2px solid themes.$secondary-color;
      }
      transition: ease-in background-color 200ms, ease-in border 200ms,
        ease-in color 200ms;
      @include themes.themed() {
        background-color: themes.t("input-bg");
        border: 1.5px solid themes.t("input-bg");
        color: themes.t("font-color");
      }
    }
  }
  .reset-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    .reset {
      width: 120px;
      height: 45px;
      border: none;
      border-radius: 10px;
      background-color: themes.$primary-color;
      font-weight: bold;
      color: white;
      transition: ease background-color 200ms;
      font-family: themes.$font-family;
      &:hover {
        cursor: pointer;
        background-color: themes.$secondary-color;
      }
    }
  }
}

.error {
  color: red;
  font-size: 0.7rem;
  margin-bottom: 1rem;
  margin-top: -0.5rem;
  display: flex;
  justify-content: center;
}

/* Tablets */
@media only screen and (max-width: themes.$tablet-bp) {
  .card {
    width: 60%;
    font-size: 0.9rem;
  }
  .titles {
    width: 60%;
  }
}

/* Smartphones */
@media only screen and (max-width: themes.$smartphone-bp) {
  .card {
    width: 85%;
    font-size: 0.8rem;
  }
  .titles {
    width: 90%;
  }
  .error {
    font-size: 0.6rem;
  }
}
