@use "./_themes.module.scss" as themes;

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  @include themes.themed() {
    background-color: themes.t("scroll-track");
  }
}

/* Handle */
::-webkit-scrollbar-thumb {
  @include themes.themed() {
    background-color: themes.t("scroll-thumb");
  }
}
