@use "../../../_themes.module.scss" as themes;

.container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-sizing: border-box;
}

.text {
  display: flex;
  flex-direction: column;
  .title {
    font-size: 1.3rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
  }
  .note {
    display: flex;
    align-items: center;
    white-space: pre-wrap;
    margin-bottom: 1rem;
    .highlight {
      color: themes.$tertiary-color;
      font-weight: bold;
    }
  }
  .button {
    font-family: themes.$font-family;
    padding: 15px 20px;
    width: fit-content;
    border-radius: 10px;
    border: none;
    background-color: themes.$primary-color;
    color: white;
    margin-top: 1rem;
    transition: ease-in background-color 200ms;
    &:hover {
      cursor: pointer;
      background-color: themes.$secondary-color;
    }
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dropdowns {
  display: flex;
  margin-bottom: 2rem;
  .dd {
    display: flex;
    flex-direction: column;
    &:first-child {
      margin-right: 10px;
    }
  }
}

.status {
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.status-card {
  width: 300px;
  display: flex;
  flex-direction: column;
  padding: 25px;
  border-left: 5px solid themes.$primary-color;
  transition: ease-in background-color 200ms;
  @include themes.themed() {
    background-color: darken(themes.t("card-bg"), 5);
    box-shadow: themes.t("box-shadow");
  }
  .description {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 1.5rem;
    &:last-child {
      margin-bottom: 0;
    }
    .icon {
      margin-right: 1rem;
    }
  }
}

/* Smartphones */
@media only screen and (max-width: themes.$smartphone-bp) {
  .container {
    flex-direction: column;
    justify-content: center;
  }
  .text {
    .title,
    .note,
    .button {
      display: none;
    }
  }
  .dropdowns {
    flex-direction: column;
    margin-bottom: 1rem;
    .dd {
      margin-bottom: 1rem;
      &:first-child {
        margin-right: 0;
      }
    }
  }
  .status-card {
    width: 270px;
  }
}
