@use "../../_themes.module.scss" as themes;

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: themes.$font-family;
  transition: ease-in color 200ms;
  @include themes.themed() {
    color: themes.t("font-color");
  }
}

.card {
  height: auto;
  width: 40%;
  max-width: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
  padding: 40px;
  justify-content: space-between;
  border-radius: 20px;
  transition: ease-in background-color 200ms;
  @include themes.themed() {
    background-color: themes.t("card-bg");
  }
}

.title {
  display: flex;
  align-items: center;
  font-size: 3rem;
  white-space: pre-wrap;
  position: relative;
  font-weight: bold;
  .icon {
    position: absolute;
    left: -50px;
    color: themes.$tertiary-color;
  }
}

.subtitle {
  font-size: 1.5rem;
}

.text {
  margin-top: 2rem;
  font-size: 1rem;
}

.button {
  margin-top: 2rem;
  width: 140px;
  height: 45px;
  border: none;
  border-radius: 10px;
  background-color: themes.$primary-color;
  font-weight: bold;
  color: white;
  transition: ease background-color 200ms;
  font-family: themes.$font-family;
  &:hover {
    cursor: pointer;
    background-color: themes.$secondary-color;
  }
}

/* Tablets */
@media only screen and (max-width: themes.$tablet-bp) {
  .card {
    width: 60%;
  }
  .text {
    font-size: 0.9rem;
  }
}

/* Smartphones */
@media only screen and (max-width: themes.$smartphone-bp) {
  .card {
    width: 85%;
  }
  .text {
    font-size: 0.8rem;
  }
}
