CREATE DATABASE your_database_name;
USE your_database_name;

CREATE TABLE reservation (
    uid VARCHAR(255) NOT NULL,
    courtType VARCHAR(255),
    courtNum VARCHAR(255),
    date VARCHAR(255),
    start VARCHAR(255),
    end VARCHAR(255)
);

CREATE TABLE courtStatus (
	courtType VARCHAR(255),
    courtNum VARCHAR(255)
);

CREATE TABLE friends (
	person1 VARCHAR(255),
	person2 VARCHAR(255),
    uid1 VARCHAR(255),
    uid2 VARCHAR(255),
	requestStatus VARCHAR(255),
    PRIMARY KEY(person1, person2, requestStatus)
);