@use "../../_themes.module.scss" as themes;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: themes.$font-family;
  border-radius: 10px;
  padding: 10px;
  transition: ease-in color 200ms, ease-in background-color 200ms,
    ease-in border-color 200ms;
  @include themes.themed() {
    color: themes.t("font-color");
    background-color: themes.t("card-bg");
    border: 2px solid themes.t("font-color");
  }
}

.header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  position: relative;
  .arrow {
    color: themes.$primary-color;
    position: absolute;
    &:hover {
      cursor: pointer;
    }
  }
  .left {
    left: 10px;
  }
  .right {
    right: 10px;
  }
}

.week-headers {
  display: flex;
  .week-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 40px;
  }
}

.week {
  display: flex;
  width: 100%;
  .day,
  .before,
  .after,
  .today,
  .selected,
  .selectedBefore,
  .selectedAfter {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    border-radius: 100%;
  }
  .before,
  .after {
    @include themes.themed() {
      color: themes.t("cal-invalid");
    }
  }
  .selectedBefore,
  .selectedAfter {
    background-color: themes.$primary-color;
    @include themes.themed() {
      color: themes.t("cal-invalid");
    }
  }
  .day,
  .today,
  .selected {
    &:hover {
      cursor: pointer;
      @include themes.themed() {
        color: themes.t("cal-invalid");
      }
    }
  }
  .selected {
    color: white;
    background-color: themes.$primary-color;
  }
}

.today {
  color: themes.$secondary-color;
  font-weight: bold;
}

/* Tablets */
@media only screen and (max-width: themes.$tablet-bp) {
  .container {
    font-size: 0.9rem;
  }
  .header {
    height: 40px;
  }
  .week-header {
    width: 40px;
    height: 40px;
  }
  .day {
    width: 40px;
    height: 40px;
  }
}

/* Smartphones */
@media only screen and (max-width: themes.$smartphone-bp) {
  .container {
    font-size: 0.8rem;
    padding: 5px;
  }
  .header {
    height: 30px;
  }
  .week-header {
    width: 30px;
    height: 30px;
  }
  .day {
    width: 30px;
    height: 30px;
  }
}
