@use "../../_themes.module.scss" as themes;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  font-family: themes.$font-family;
  padding: 10px;
  background-color: themes.$card-color;
}

.header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  position: relative;
  .arrow {
    color: themes.$primary-color;
    position: absolute;
    &:hover {
      cursor: pointer;
    }
  }
  .left {
    left: 10px;
  }
  .right {
    right: 10px;
  }
}

.week-headers {
  display: flex;
  .week-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
  }
}

.week {
  display: flex;
  width: 100%;
  .day,
  .before,
  .after,
  .today,
  .selected,
  .selectedBefore,
  .selectedAfter {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    border-radius: 100%;
  }
  .before,
  .after {
    color: lightgrey;
  }
  .selectedBefore,
  .selectedAfter {
    color: lightgrey;
    background-color: rgb(235, 235, 235);
  }
  .day,
  .today,
  .selected {
    &:hover {
      cursor: pointer;
      background-color: lightgrey;
    }
  }
  .selected {
    color: white;
    background-color: themes.$primary-color;
  }
}

.today {
  color: themes.$secondary-color;
  font-weight: bold;
}

/* Tablets */
@media only screen and (max-width: themes.$tablet-bp) {
  .container {
    font-size: 0.9rem;
  }
  .header {
    height: 40px;
  }
  .week-header {
    width: 40px;
    height: 40px;
  }
  .day {
    width: 40px;
    height: 40px;
  }
}

/* Smartphones */
@media only screen and (max-width: themes.$smartphone-bp) {
  .container {
    font-size: 0.8rem;
    padding: 5px;
  }
  .header {
    height: 30px;
  }
  .week-header {
    width: 30px;
    height: 30px;
  }
  .day {
    width: 30px;
    height: 30px;
  }
}
