@use "../../_themes.module.scss" as themes;

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 10px;
  font-family: themes.$font-family;
  border: 2px solid themes.$primary-color;
  border-radius: 10px;
  position: relative;
  transition: ease-in color 200ms, ease-in background-color 200ms;
  @include themes.themed() {
    color: themes.t("font-color");
    background-color: themes.t("card-bg");
  }
  &:hover {
    cursor: pointer;
  }
  .arrow {
    color: themes.$primary-color;
  }
  .menu {
    position: absolute;
    height: fit-content;
    box-sizing: border-box;
    left: -2px;
    border: 2px solid themes.$primary-color;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: ease-in background-color 200ms;
    z-index: 2;
    @include themes.themed() {
      background-color: themes.t("card-bg");
    }
    .option {
      box-sizing: border-box;
      padding: 10px;
      width: 100%;
      &:hover {
        cursor: pointer;
        background-color: themes.$quaternary-color;
      }
    }
  }
}
