@use "../../_themes.module.scss" as themes;

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 10px;
  font-family: themes.$font-family;
  border: 2px solid themes.$primary-color;
  border-radius: 10px;
  background-color: themes.$card-color;
  position: relative;
  &:hover {
    cursor: pointer;
  }
  .arrow {
    color: themes.$primary-color;
  }
  .menu {
    position: absolute;
    height: fit-content;
    box-sizing: border-box;
    left: -1px;
    border: 2px solid themes.$primary-color;
    border-radius: 10px;
    background-color: themes.$card-color;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    .option {
      box-sizing: border-box;
      padding: 10px;
      width: 100%;
      &:hover {
        cursor: pointer;
        background-color: themes.$quaternary-color;
      }
    }
  }
}
