@use "../../_themes.module.scss" as themes;

.container {
  position: fixed;
  top: 0;
  left: 0;
  height: 5rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: themes.$font-family;
  box-shadow: 0 0px 15px 0px rgb(228, 228, 228);
  background-color: themes.$nav-color;
  z-index: 1;
}

.links {
  display: flex;
  width: fit-content;
  height: 100%;
  align-items: center;
  justify-content: center;
  font-size: 0.9rem;
  .icon {
    position: absolute;
    left: -1.5rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: themes.$primary-color;
  }
  .link {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    &::before {
      position: absolute;
      bottom: 0;
      left: 0;
      content: "";
      width: 100%;
      height: 5px;
      background-color: themes.$tertiary-color;
      transform: scaleX(0);
      transform-origin: center;
      transition: transform 200ms ease-out;
    }
    &:hover {
      cursor: pointer;
      &::before {
        transform: scaleX(1);
      }
    }
  }
}

.right-items {
  position: absolute;
  right: 2rem;
  display: flex;
  align-items: center;
  .button {
    padding: 7px 20px;
    border: none;
    border-radius: 10px;
    background-color: themes.$primary-color;
    color: white;
    transition: ease background-color 200ms;
    font-family: themes.$font-family;
    margin-left: 1rem;
    font-size: 0.7rem;
    &:hover {
      cursor: pointer;
      background-color: themes.$secondary-color;
    }
  }
}

.hamburger {
  position: relative;
  display: none;
  z-index: 3;
  .icon {
    color: themes.$primary-color;
    transition: ease color 200ms;
    &:hover {
      cursor: pointer;
      color: themes.$secondary-color;
    }
  }
}

.menu {
  position: absolute;
  top: 170%;
  right: 0;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-sizing: border-box;
  border: 2px solid themes.$primary-color;
  border-radius: 10px;
  background-color: themes.$card-color;
  .option {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 14px 20px 14px 40px;
    position: relative;
    .label {
      position: relative;
      height: 100%;
      &::before {
        position: absolute;
        bottom: -5px;
        left: 0;
        content: "";
        width: 100%;
        height: 5px;
        background-color: themes.$tertiary-color;
        transform: scaleX(0);
        transform-origin: center;
        transition: transform 200ms ease-out;
      }
      &:hover {
        cursor: pointer;
        &::before {
          transform: scaleX(1);
        }
      }
      .icon {
        position: absolute;
        right: calc(100% + 5px);
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: themes.$primary-color;
      }
    }
  }
}

/* Tablets */
@media only screen and (max-width: themes.$tablet-bp) {
}

/* Smartphones */
@media only screen and (max-width: themes.$smartphone-bp) {
  .links {
    display: none;
  }
  .right-items {
    .button {
      margin-right: 1rem;
    }
  }
  .hamburger {
    display: flex;
  }
}
