@use "../../../_themes.module.scss" as themes;

.container {
  position: relative;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-family: themes.$font-family;
  font-size: 1rem;
  transition: ease-in color 200ms;
  overflow-y: auto;
  &::-webkit-scrollbar-track {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  @include themes.themed() {
    color: themes.t("font-color");
  }
}

.progress {
  width: 80%;
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  button {
    font-family: themes.$font-family;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    background-color: themes.$primary-color;
    color: white;
    transition: ease-in background-color 200ms;
    &:hover {
      cursor: pointer;
      background-color: themes.$secondary-color;
    }
    &:disabled {
      cursor: not-allowed;
      background-color: lightgrey;
      color: grey;
    }
  }
}

.max {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .text {
    display: flex;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
    font-size: 1.3rem;
    margin-bottom: 1rem;
    .icon {
      margin-right: 10px;
      color: themes.$tertiary-color;
    }
  }
  .button {
    font-family: themes.$font-family;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    background-color: themes.$primary-color;
    color: white;
    margin-top: 3rem;
    transition: ease-in background-color 200ms;
    &:hover {
      cursor: pointer;
      background-color: themes.$secondary-color;
    }
  }
}

/* Tablets */
@media only screen and (max-width: themes.$tablet-bp) {
  .container {
    font-size: 0.9rem;
    padding: 20px;
  }
  .cal-container {
    margin-top: calc(1.8rem + 10px);
  }
  .buttons {
    padding: 0;
    padding-top: 20px;
  }
}

/* Smartphones */
@media only screen and (max-width: themes.$smartphone-bp) {
  .container {
    font-size: 0.8rem;
    padding: 20px;
  }
  .cal-container {
    margin-top: calc(1.6rem + 10px);
    .text {
      display: none;
    }
  }
  .buttons {
    padding: 0;
    padding-top: 20px;
  }
  .progress {
    width: 100%;
  }
}
